/*GENERAL*/
body{
    margin: 0;
    padding-top:0;
}

header{
    border-bottom:1px solid rgba(196, 192, 192, 0.3);
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

nav{
    max-width: 1400px;
    width: 100%;
    min-height: 50px;
}

.primary{
    background-color:rgb(182, 145, 97);
}

ul{
    list-style: none;
    gap:20px;
}

h1,
h2,
h3,
a,
p,
span{
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 92px;
    color:whitesmoke;
    letter-spacing: 1px;
    line-height: 25px;
}

h2{
    font-size: 30px;
}

h3{
    font-style: italic;
    font-size: 24px;
}

.flex{
    display: flex;
}

.j-center{
    justify-content: center;
}

.j-between{
    justify-content: space-between;
}

.j-evenly{
    justify-content: space-evenly;
}

.j-flex-end{
    justify-content: flex-end;
}

.a-center{
    align-items: center;
}

.m-auto{
    margin: auto;
}

.mr20{
    margin-right: 20;
}

.tc{
    text-align: center;
}

a{
    font-family: "Inter Tight", system-ui;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

a:hover{
    color:#FFD700;
}

p{
    font-size: 16px;
}

span{
    color:#FFD700;
    font-style: italic;
    font-size: 24px;
}

/* HERO SECTION */
.hero {
    width: 100%;
    height: 85vh;
    background: url(../image/alfa-romeo.jpg) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.hero__title,
.hero__info {
    max-width: 750px;
    width: 100%;
    min-height: 100px;
    margin-left: 90px;
}

.hero__title {
    letter-spacing: 15px;
    line-height: 100px;
    margin-bottom: 20px;
    color: white;
}

.hero__info {
    color: rgb(228, 228, 228);
    letter-spacing: 1px;
    font-size: 16px;
}

/*Choose Vehicle*/
.vehicle{
    width: 100%;
    min-height: 100px;
    position: relative;
}
.select__vehicle{
    width: 100%;
    min-height: 100px;
    position:absolute;
    bottom:35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
    position: absolute;
}

.vehicle-img{
    width: 250px;
    border-radius: 10px;
    padding-bottom: 0;
    box-shadow: 1px 1px 20px rgb(67, 66, 66);
    transition: 0.3s ease-in-out;
}

.vehicle-img:hover{
    transform: scale(1.05);
}

.ferrari-animation{
    animation: fadeIn 0.5s ease-in;
}

.suv-animation{
    animation: fadeIn 1s ease-in;
}

.tesla-animation{
    animation: fadeIn 1.5s ease-in;
}

@keyframes fadeIn{
    from {opacity: 0}
    to {opacity: 1}
}

/*How to book*/

.steps__container{
    width: 100%;
    min-height: auto;
    border-top: 1px solid rgba(196, 192, 192, 0.3);
    text-align: center;
}
